<div class="container">
    <section class="articles-list ideal">
        <div class="ui-status empty">
            No tienes canciones
        </div>
        <div class="ui-status error">
            Se ha producido un error al cargar tus canciones
        </div>
        <div class="ui-status loading">
            Loading . . .
        </div>
        <div class="ui-status ideal">
            <a href="article.html"><article class="article" data-id="1">
                <div class="cover"><img src="imgs/article.jpeg" srcset="imgs/article-750px.jpeg 1024w, imgs/article-400px.jpeg 400w, imgs/article.jpeg 1200w" alt="Article image"></div>
                <div class="artist"><div class="avatar"></div><div class="artist-name"><p>Jimmy Soni</p><p class="date">17/07/2016 - 18:43:12</p></div></div>
                <div class="title">10,000 Hours With Claude Shannon: How A Genius Thinks, Works, and Lives</div>
                <div class="subtitle">We got up-close-and-personal with a genius for five years. Here are 12 things we learned.</div>
                <div class="buttons">
                    <i id="share-button" class="fa fa-share-alt"><span class="share"></span></i>
                    <i id="download-button" class="fa fa-download"><span class="download"></span></i>
                    <i id="like-button" class="fa fa-heart-o"><span class="like"></span></i>
                    <i id="comment-button" class="fa fa-comment-o"><span class="comment"></span></i>
                </div>
            </article></a>
            <a href="article.html"><article class="article" data-id="2">
                <div class="cover"><iframe src="https://www.youtube.com/embed/DooI3NCmG1g"></iframe></div>
                <div class="artist"><div class="avatar no-avatar"></div><div class="artist-name"><p>Alexandru Paduraru</p><p class="date">17/07/2016 - 18:43:12</p></div></div>
                <div class="title">15+ Ways a Venture Capitalist Says “No”</div>
                <div class="subtitle">If you like this article, check out another by Robbie: The AI Entrepreneur’s Moral Dilemma.</div>
                <div class="buttons">
                    <i id="share-button" class="fa fa-share-alt"><span class="share"></span></i>
                    <i id="download-button" class="fa fa-download"><span class="download"></span></i>
                    <i id="like-button" class="fa fa-heart-o"><span class="like"></span></i>
                    <i id="comment-button" class="fa fa-comment-o"><span class="comment"></span></i>
                </div>
            </article></a>
            <a href="article.html"><article class="article" data-id="3">
                <div class="cover"><img src="imgs/article2.png" srcset="imgs/article2-750px.png 1024w, imgs/article2-400px.png 400w, imgs/article2.png 1200w" alt="Article image"></div>
                <div class="artist"><div class="avatar"></div><div class="artist-name"><p>Jimmy Soni</p><p class="date">17/06/2017 - 18:43:12</p></div></div>
                <div class="title">The company isn’t a family</div>
                <div class="subtitle">Whenever executives talk about how their company is really like a big ol’ family, beware. They’re usually not referring to how the company is going to protect you no matter what or love you unconditionally. You know, like healthy families would. The motive is rather more likely to be a unidirectional form of sacrifice: Yours..</div>
                <div class="buttons">
                    <i id="share-button" class="fa fa-share-alt"><span class="share"></span></i>
                    <i id="download-button" class="fa fa-download"><span class="download"></span></i>
                    <i id="like-button" class="fa fa-heart-o"><span class="like"></span></i>
                    <i id="comment-button" class="fa fa-comment-o"><span class="comment"></span></i>
                </div>
            </article></a>
            <a href="article.html"><article class="article" data-id="4">
                <div class="cover"><img src="imgs/article2.png" srcset="imgs/article2-750px.png 1024w, imgs/article2-400px.png 400w, imgs/article2.png 1200w" alt="Article image"></div>
                <div class="artist"><div class="avatar"></div><div class="artist-name"><p>Jimmy Soni</p><p class="date">17/07/2017 - 11:13:29</p></div></div>
                <div class="title">10,000 Hours With Claude Shannon: How A Genius Thinks, Works, and Lives</div>
                <div class="subtitle">We got up-close-and-personal with a genius for five years. Here are 12 things we learned.</div>
                <div class="buttons">
                    <i id="share-button" class="fa fa-share-alt"><span class="share"></span></i>
                    <i id="download-button" class="fa fa-download"><span class="download"></span></i>
                    <i id="like-button" class="fa fa-heart-o"><span class="like"></span></i>
                    <i id="comment-button" class="fa fa-comment-o"><span class="comment"></span></i>
                </div>
            </article></a>
            <a href="article.html"><article class="article" data-id="5">
                <div class="cover"><img src="imgs/article.jpeg" srcset="imgs/article-750px.jpeg 1024w, imgs/article-400px.jpeg 400w, imgs/article.jpeg 1200w" alt="Article image"></div>
                <div class="artist"><div class="avatar"></div><div class="artist-name"><p>Jimmy Soni</p><p class="date">30/08/2017 - 11:43:12</p></div></div>
                <div class="title">10,000 Hours With Claude Shannon: How A Genius Thinks, Works, and Lives</div>
                <div class="subtitle">We got up-close-and-personal with a genius for five years. Here are 12 things we learned.</div>
                <div class="buttons">
                    <i id="share-button" class="fa fa-share-alt"><span class="share"></span></i>
                    <i id="download-button" class="fa fa-download"><span class="download"></span></i>
                    <i id="like-button" class="fa fa-heart-o"><span class="like"></span></i>
                    <i id="comment-button" class="fa fa-comment-o"><span class="comment"></span></i>
                </div>
            </article></a>
            <a href="article.html"><article class="article" data-id="6">
                <div class="cover"><img src="imgs/article2.png" srcset="imgs/article2-750px.png 1024w, imgs/article2-400px.png 400w, imgs/article2.png 1200w" alt="Article image"></div>
                <div class="artist"><div class="avatar"></div><div class="artist-name"><p>Jimmy Soni</p><p class="date">29/08/2017 - 12:35:11</p></div></div>
                <div class="title">10,000 Hours With Claude Shannon: How A Genius Thinks, Works, and Lives</div>
                <div class="subtitle">We got up-close-and-personal with a genius for five years. Here are 12 things we learned.</div>
                <div class="buttons">
                    <i id="share-button" class="fa fa-share-alt"><span class="share"></span></i>
                    <i id="download-button" class="fa fa-download"><span class="download"></span></i>
                    <i id="like-button" class="fa fa-heart-o"><span class="like"></span></i>
                    <i id="comment-button" class="fa fa-comment-o"><span class="comment"></span></i>
                </div>
            </article></a>
            <a href="article.html"><article class="article" data-id="7">
                <div class="cover"><img src="imgs/article.jpeg" srcset="imgs/article-750px.jpeg 1024w, imgs/article-400px.jpeg 400w, imgs/article.jpeg 1200w" alt="Article image"></div>
                <div class="artist"><div class="avatar"></div><div class="artist-name"><p>Jimmy Soni</p><p class="date">27/08/2017 - 18:43:12</p></div></div>
                <div class="title">10,000 Hours With Claude Shannon: How A Genius Thinks, Works, and Lives</div>
                <div class="subtitle">We got up-close-and-personal with a genius for five years. Here are 12 things we learned.</div>
                <div class="buttons">
                    <i id="share-button" class="fa fa-share-alt"><span class="share"></span></i>
                    <i id="download-button" class="fa fa-download"><span class="download"></span></i>
                    <i id="like-button" class="fa fa-heart-o"><span class="like"></span></i>
                    <i id="comment-button" class="fa fa-comment-o"><span class="comment"></span></i>
                </div>
            </article></a>
            <a href="article.html"><article class="article" data-id="8">
                <div class="cover"><img src="imgs/article2.png" srcset="imgs/article2-750px.png 1024w, imgs/article2-400px.png 400w, imgs/article2.png 1200w" alt="Article image"></div>
                <div class="artist"><div class="avatar no-avatar"></div><div class="artist-name"><p>Alexandru Paduraru</p><p class="date">17/07/2016 - 18:43:12</p></div></div>
                <div class="title">10,000 Hours With Claude Shannon: How A Genius Thinks, Works, and Lives</div>
                <div class="subtitle">We got up-close-and-personal with a genius for five years. Here are 12 things we learned.</div>
                <div class="buttons">
                    <i id="share-button" class="fa fa-share-alt"><span class="share"></span></i>
                    <i id="download-button" class="fa fa-download"><span class="download"></span></i>
                    <i id="like-button" class="fa fa-heart-o"><span class="like"></span></i>
                    <i id="comment-button" class="fa fa-comment-o"><span class="comment"></span></i>
                </div>
            </article></a>
            <a href="article.html"><article class="article" data-id="9">
                <div class="cover"><img src="imgs/article.jpeg" srcset="imgs/article-750px.jpeg 1024w, imgs/article-400px.jpeg 400w, imgs/article.jpeg 1200w" alt="Article image"></div>
                <div class="artist"><div class="avatar"></div><div class="artist-name"><p>Jimmy Soni</p><p class="date">17/07/2016 - 18:43:12</p></div></div>
                <div class="title">10,000 Hours With Claude Shannon: How A Genius Thinks, Works, and Lives</div>
                <div class="subtitle">We got up-close-and-personal with a genius for five years. Here are 12 things we learned.</div>
                <div class="buttons">
                    <i id="share-button" class="fa fa-share-alt"><span class="share"></span></i>
                    <i id="download-button" class="fa fa-download"><span class="download"></span></i>
                    <i id="like-button" class="fa fa-heart-o"><span class="like"></span></i>
                    <i id="comment-button" class="fa fa-comment-o"><span class="comment"></span></i>
                </div>
            </article></a>
            <div class="pagination">
                <div class="prev"><i class="fa fa-arrow-circle-left"></i> Previous</div>
                <div class="next">Older <i class="fa fa-arrow-circle-right"></i></div>
            </div>
        </div>
    </section>
</div>