<header class="header" id="top-header">
    <div class="web-header">
        <div class="container ui-status ideal">
                <h1 class="web-title"><a href="/">Quartum</a></h1>
                <div class="menu"><i class="fa fa-navicon"></i> </div>
                <div class="search"><i class="fa fa-search"></i> </div>
                <div class="login"><i class="fa fa-user"></i></div>       
        </div>
    </div>
    <nav class="categories">
        <ul class="categories-list">
            <li class="category-item">Cultura</li>
            <li class="category-item">Deporte</li>
            <li class="category-item">Ciencia</li>
            <li class="category-item">Actualidad</li>
            <li class="category-item">Miscelanea</li>
        </ul>
    </nav>
</header>